# Pandas Import

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('bike.csv')

In [4]:
# Shape of the DataFrame
df.shape

(17379, 15)

In [5]:
row, col = df.shape

In [6]:
row

17379

In [7]:
col

15

In [8]:
# Top nth rows
df.head()  # Display the first 10 rows of the DataFrame

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,1/1/2011,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,16
1,2,1/1/2011,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,40
2,3,1/1/2011,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,32
3,4,1/1/2011,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,13
4,5,1/1/2011,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,1

In [9]:
df.head(3)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,1/1/2011,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,16
1,2,1/1/2011,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,40
2,3,1/1/2011,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,32

In [10]:
# Last nth rows
df.tail()  # Display the last 10 rows of the DataFrame

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
17374,17375,12/31/2012,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,119
17375,17376,12/31/2012,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,89
17376,17377,12/31/2012,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,90
17377,17378,12/31/2012,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,61
17378,17379,12/31/2012,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,49

In [12]:
# Last nth rows
df.tail(15)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
17364,17365,12/31/2012,1,1,12,9,0,1,1,2,0.18,0.2121,0.64,0.1045,157
17365,17366,12/31/2012,1,1,12,10,0,1,1,2,0.20,0.2121,0.69,0.1343,120
17366,17367,12/31/2012,1,1,12,11,0,1,1,2,0.22,0.2273,0.60,0.1940,157
17367,17368,12/31/2012,1,1,12,12,0,1,1,2,0.24,0.2273,0.56,0.1940,224
17368,17369,12/31/2012,1,1,12,13,0,1,1,2,0.26,0.2576,0.44,0.1642,203
17369,17370,12/31/2012,1,1,12,14,0,1,1,2,0.28,0.2727,0.45,0.2239,247
17370,17371,12/31/2012,1,1,12,15,0,1,1,2,0.28,0.2879,0.45,0.1343,315
17371,17372,12/31/2012,1,1,12,16,0,1,1,2,0.26,0.2576,0.48,0.1940,214
17372,17373,12/31/2012,1,1,12,17,0,1,1,2,0.26,0.2879,0.48,0.0896,164
17373,17374,12/31/2012,1,1,12,18,0,1,1,2,0.26,0.2727,0.48,0.1343,122
17374,17375,12/31/2012,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,119
17375,17376,12/31/2012,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,89
17376,17377,12/31/2012,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,90
17377,17378,12/31/2012,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,61
17378,17379,12/31/2012,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,49

In [13]:
# Range of rows
df[10:20]  # Display rows from index 10 to 19

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
10,11,1/1/2011,1,0,1,10,0,6,0,1,0.38,0.3939,0.76,0.2537,36
11,12,1/1/2011,1,0,1,11,0,6,0,1,0.36,0.3333,0.81,0.2836,56
12,13,1/1/2011,1,0,1,12,0,6,0,1,0.42,0.4242,0.77,0.2836,84
13,14,1/1/2011,1,0,1,13,0,6,0,2,0.46,0.4545,0.72,0.2985,94
14,15,1/1/2011,1,0,1,14,0,6,0,2,0.46,0.4545,0.72,0.2836,106
15,16,1/1/2011,1,0,1,15,0,6,0,2,0.44,0.4394,0.77,0.2985,110
16,17,1/1/2011,1,0,1,16,0,6,0,2,0.42,0.4242,0.82,0.2985,93
17,18,1/1/2011,1,0,1,17,0,6,0,2,0.44,0.4394,0.82,0.2836,67
18,19,1/1/2011,1,0,1,18,0,6,0,3,0.42,0.4242,0.88,0.2537,35
19,20,1/1/2011,1,0,1,19,0,6,0,3,0.42,0.4242,0.88,0.2537,37

In [16]:
# Accessing specific columns
df['season']  # Access the 'season' column

0        1
1        1
2        1
3        1
4        1
        ..
17374    1
17375    1
17376    1
17377    1
17378    1
Name: season, Length: 17379, dtype: int64

In [17]:
df.columns  # List all columns in the DataFrame

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed', 'cnt'],
      dtype='object')

In [19]:
# Type of columns
# df.dtypes  # Display the data types of each column
type(df['season'])  # Check the type of the 'season' column

pandas.core.series.Series

In [20]:
len(df)

17379

In [21]:
df.head()  # Display the first few rows of the DataFrame

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,1/1/2011,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,16
1,2,1/1/2011,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,40
2,3,1/1/2011,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,32
3,4,1/1/2011,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,13
4,5,1/1/2011,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,1

In [ ]:
# Max and Min of a column
df['atemp'].max()  # Maximum value in the 'atemp' column

np.float64(1.0)

In [24]:
# Max and Min of a column
df['atemp'].min()  # Min value in the 'atemp' column

np.float64(0.0)

In [25]:
df['atemp'].mean()

np.float64(0.4757751021347604)

In [26]:
df['atemp'].std()

np.float64(0.17185021563535943)

In [27]:
df['atemp'].value_counts()  # Count unique values in the 'atemp' column

atemp
0.6212    988
0.5152    618
0.4091    614
0.3333    600
0.6667    593
         ...
0.0152      4
0.0000      2
0.9848      2
0.9545      1
1.0000      1
Name: count, Length: 65, dtype: int64

In [28]:
# 25%
df['atemp'].quantile(0.25)  # 25th percentile of the 'atemp' column

np.float64(0.3333)

In [29]:
# 50%
df['atemp'].quantile(0.50)  # 50th percentile (median) of the 'atemp' column

np.float64(0.4848)

In [30]:
# 75%
df['atemp'].quantile(0.75)  # 75th percentile of the 'atemp' column

np.float64(0.6212)

In [31]:
# 100%
df['atemp'].quantile(1.00)  # 100th percentile (maximum) of the 'atemp' column

np.float64(1.0)

In [32]:
df.describe()  # Summary statistics of the DataFrame

,instant,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
count,17379.0000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000
mean,8690.0000,2.501640,0.502561,6.537775,11.546752,0.028770,3.003683,0.682721,1.425283,0.496987,0.475775,0.627229,0.190098,189.463088
std,5017.0295,1.106918,0.500008,3.438776,6.914405,0.167165,2.005771,0.465431,0.639357,0.192556,0.171850,0.192930,0.122340,181.387599
min,1.0000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.020000,0.000000,0.000000,0.000000,1.000000
25%,4345.5000,2.000000,0.000000,4.000000,6.000000,0.000000,1.000000,0.000000,1.000000,0.340000,0.333300,0.480000,0.104500,40.000000
50%,8690.0000,3.000000,1.000000,7.000000,12.000000,0.000000,3.000000,1.000000,1.000000,0.500000,0.484800,0.630000,0.194000,142.000000
75%,13034.5000,3.000000,1.000000,10.000000,18.000000,0.000000,5.000000,1.000000,2.000000,0.660000,0.621200,0.780000,0.253700,281.000000
max,17379.0000,4.000000,1.000000,12.000000,23.000000,1.000000,6.000000,1.000000,4.000000,1.000000,1.000000,1.000000,0.850700,977.000000

# Value Sorting

In [33]:
df.head()  # Display the first few rows of the DataFrame

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,1/1/2011,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,16
1,2,1/1/2011,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,40
2,3,1/1/2011,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,32
3,4,1/1/2011,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,13
4,5,1/1/2011,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,1

In [35]:
df['cnt'].sort_values()  # Sort the 'cnt' column in ascending order

30         1
5          1
4          1
17358      1
49         1
        ...
15084    967
14725    968
14748    970
14964    976
14773    977
Name: cnt, Length: 17379, dtype: int64

In [36]:
df['cnt'].sort_values(ascending=False)  # Sort the 'cnt' column in ascending order

14773    977
14964    976
14748    970
14725    968
15084    967
        ...
17358      1
5          1
30         1
71         1
4          1
Name: cnt, Length: 17379, dtype: int64

In [37]:
df.nlargest(25, 'cnt')  # Get the top 5 rows with the highest 'cnt' values

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
14773,14774,9/12/2012,3,1,9,18,0,3,1,1,0.66,0.6212,0.44,0.2537,977
14964,14965,9/20/2012,3,1,9,17,0,4,1,1,0.64,0.6212,0.50,0.2239,976
14748,14749,9/11/2012,3,1,9,17,0,2,1,1,0.70,0.6364,0.28,0.0000,970
14725,14726,9/10/2012,3,1,9,18,0,1,1,1,0.62,0.6212,0.35,0.2985,968
15084,15085,9/25/2012,4,1,9,17,0,2,1,1,0.66,0.6212,0.39,0.2836,967
15780,15781,10/24/2012,4,1,10,17,0,3,1,1,0.66,0.6212,0.47,0.0000,963
10622,10623,3/23/2012,2,1,3,17,0,5,1,2,0.72,0.6515,0.42,0.1642,957
15108,15109,9/26/2012,4,1,9,17,0,3,1,1,0.74,0.6667,0.48,0.2985,953
15444,15445,10/10/2012,4,1,10,17,0,3,1,1,0.58,0.5455,0.43,0.2239,948
15588,15589,10/16/2012,4,1,10,17,0,2,1,1,0.52,0.5000,0.39,0.1940,943
14293,14294,8/23/2012,3,1,8,18,0,4,1,1,0.74,0.6667,0.48,0.2239,941
15756,15757,10/23/2012,4,1,10,17,0,2,1,1,0.68,0.6364,0.41,0.0000,938
14772,14773,9/12/2012,3,1,9,17,0,3,1,1,0.70,0.6364,0.41,0.2985,925
15732,15733,10/22/2012,4,1,10,17,0,1,1,1,0.62,0.6212,0.33,0.1045,922
15276,15277,10/3/2012,4,1,10,17,0,3,1,1,0.70,0.6515,0.65,0.0000,917
13596,13597,7/25/2012,3,1,7,17,0,3,1,1,0.80,0.6970,0.31,0.0000,913
15132,15133,9/27/2012,4,1,9,17,0,4,1,2,0.66,0.6212,0.69,0.2985,905
15300,15301,10/4/2012,4,1,10,17,0,4,1,1,0.70,0.6515,0.51,0.2239,901
12900,12901,6/26/2012,3,1,6,17,0,2,1,1,0.72,0.6515,0.28,0.4179,900
14965,14966,9/20/2012,3,1,9,18,0,4,1,1,0.60,0.6212,0.56,0.2537,900
15324,15325,10/5/2012,4,1,10,17,0,5,1,1,0.70,0.6364,0.42,0.1642,900
15133,15134,9/27/2012,4,1,9,18,0,4,1,2,0.66,0.6212,0.69,0.2239,899
15060,15061,9/24/2012,4,1,9,17,0,1,1,1,0.58,0.5455,0.30,0.0000,898
14124,14125,8/16/2012,3,1,8,17,0,4,1,1,0.82,0.7273,0.34,0.1940,897
14820,14821,9/14/2012,3,1,9,17,0,5,1,1,0.72,0.6667,0.51,0.1940,894

In [38]:
df.nsmallest(25, 'cnt')  # Get the bottom 5 rows with the lowest 'cnt' values

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
4,5,1/1/2011,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,1
5,6,1/1/2011,1,0,1,5,0,6,0,2,0.24,0.2576,0.75,0.0896,1
30,31,1/2/2011,1,0,1,7,0,0,0,2,0.40,0.4091,0.76,0.1940,1
49,50,1/3/2011,1,0,1,4,0,1,1,1,0.16,0.1364,0.47,0.3881,1
71,72,1/4/2011,1,0,1,2,0,2,1,1,0.14,0.1515,0.63,0.1343,1
118,119,1/6/2011,1,0,1,4,0,4,1,2,0.16,0.1970,0.64,0.0896,1
140,141,1/7/2011,1,0,1,2,0,5,1,2,0.20,0.1970,0.69,0.2239,1
141,142,1/7/2011,1,0,1,4,0,5,1,2,0.20,0.2121,0.69,0.1343,1
165,166,1/8/2011,1,0,1,4,0,6,0,3,0.18,0.1970,0.55,0.1642,1
189,190,1/9/2011,1,0,1,4,0,0,0,1,0.08,0.0909,0.53,0.1940,1
190,191,1/9/2011,1,0,1,5,0,0,0,1,0.08,0.0909,0.53,0.1940,1
191,192,1/9/2011,1,0,1,6,0,0,0,1,0.10,0.0909,0.49,0.2836,1
210,211,1/10/2011,1,0,1,1,0,1,1,1,0.12,0.1212,0.50,0.2836,1
212,213,1/10/2011,1,0,1,3,0,1,1,1,0.12,0.1212,0.50,0.2239,1
257,258,1/12/2011,1,0,1,2,0,3,1,1,0.14,0.1515,0.86,0.1343,1
303,304,1/14/2011,1,0,1,2,0,5,1,1,0.10,0.1212,0.54,0.1343,1
304,305,1/14/2011,1,0,1,3,0,5,1,1,0.10,0.1364,0.54,0.1045,1
329,330,1/15/2011,1,0,1,5,0,6,0,1,0.16,0.2273,0.59,0.0000,1
352,353,1/16/2011,1,0,1,4,0,0,0,1,0.26,0.2576,0.56,0.1642,1
354,355,1/16/2011,1,0,1,6,0,0,0,2,0.26,0.2576,0.56,0.1642,1
377,378,1/17/2011,1,0,1,5,1,1,0,2,0.18,0.1970,0.43,0.1642,1
434,435,1/20/2011,1,0,1,3,0,4,1,1,0.26,0.2576,0.56,0.1642,1
435,436,1/20/2011,1,0,1,4,0,4,1,1,0.26,0.2576,0.56,0.1642,1
458,459,1/21/2011,1,0,1,3,0,5,1,3,0.22,0.2121,0.80,0.2985,1
459,460,1/21/2011,1,0,1,4,0,5,1,2,0.22,0.2576,0.87,0.0896,1

# Conditional Statements

In [39]:
df.head()  # Display the first few rows of the DataFrame

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,1/1/2011,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,16
1,2,1/1/2011,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,40
2,3,1/1/2011,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,32
3,4,1/1/2011,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,13
4,5,1/1/2011,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,1

In [40]:
df['cnt'].max()  # Maximum value in the 'cnt' column

np.int64(977)

In [41]:
df['cnt'] > 15

0         True
1         True
2         True
3        False
4        False
         ...
17374     True
17375     True
17376     True
17377     True
17378     True
Name: cnt, Length: 17379, dtype: bool

In [42]:
df[df['cnt'] > 15] # Filter rows where 'cnt' is greater than 15

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,1/1/2011,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,16
1,2,1/1/2011,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,40
2,3,1/1/2011,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,32
10,11,1/1/2011,1,0,1,10,0,6,0,1,0.38,0.3939,0.76,0.2537,36
11,12,1/1/2011,1,0,1,11,0,6,0,1,0.36,0.3333,0.81,0.2836,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,17375,12/31/2012,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,119
17375,17376,12/31/2012,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,89
17376,17377,12/31/2012,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,90
17377,17378,12/31/2012,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,61
17378,17379,12/31/2012,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,49

In [44]:
# subseting rowa
df[df['dteday'] == '1/1/2011']  # Filter rows where 'dteday' is '1/1/2011'

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,1/1/2011,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,16
1,2,1/1/2011,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,40
2,3,1/1/2011,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,32
3,4,1/1/2011,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,13
4,5,1/1/2011,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,1
5,6,1/1/2011,1,0,1,5,0,6,0,2,0.24,0.2576,0.75,0.0896,1
6,7,1/1/2011,1,0,1,6,0,6,0,1,0.22,0.2727,0.80,0.0000,2
7,8,1/1/2011,1,0,1,7,0,6,0,1,0.20,0.2576,0.86,0.0000,3
8,9,1/1/2011,1,0,1,8,0,6,0,1,0.24,0.2879,0.75,0.0000,8
9,10,1/1/2011,1,0,1,9,0,6,0,1,0.32,0.3485,0.76,0.0000,14
10,11,1/1/2011,1,0,1,10,0,6,0,1,0.38,0.3939,0.76,0.2537,36
11,12,1/1/2011,1,0,1,11,0,6,0,1,0.36,0.3333,0.81,0.2836,56
12,13,1/1/2011,1,0,1,12,0,6,0,1,0.42,0.4242,0.77,0.2836,84
13,14,1/1/2011,1,0,1,13,0,6,0,2,0.46,0.4545,0.72,0.2985,94
14,15,1/1/2011,1,0,1,14,0,6,0,2,0.46,0.4545,0.72,0.2836,106
15,16,1/1/2011,1,0,1,15,0,6,0,2,0.44,0.4394,0.77,0.2985,110
16,17,1/1/2011,1,0,1,16,0,6,0,2,0.42,0.4242,0.82,0.2985,93
17,18,1/1/2011,1,0,1,17,0,6,0,2,0.44,0.4394,0.82,0.2836,67
18,19,1/1/2011,1,0,1,18,0,6,0,3,0.42,0.4242,0.88,0.2537,35
19,20,1/1/2011,1,0,1,19,0,6,0,3,0.42,0.4242,0.88,0.2537,37
20,21,1/1/2011,1,0,1,20,0,6,0,2,0.40,0.4091,0.87,0.2537,36
21,22,1/1/2011,1,0,1,21,0,6,0,2,0.40,0.4091,0.87,0.1940,34
22,23,1/1/2011,1,0,1,22,0,6,0,2,0.40,0.4091,0.94,0.2239,28
23,24,1/1/2011,1,0,1,23,0,6,0,2,0.46,0.4545,0.88,0.2985,39

In [45]:
# subseting rowa
df[df['dteday'] == '12/31/2012']  # Filter rows where 'dteday' is '12/31/2012'

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
17355,17356,12/31/2012,1,1,12,0,0,1,1,1,0.18,0.1818,0.55,0.1940,34
17356,17357,12/31/2012,1,1,12,1,0,1,1,1,0.18,0.1818,0.55,0.1940,19
17357,17358,12/31/2012,1,1,12,2,0,1,1,1,0.16,0.1667,0.59,0.1642,11
17358,17359,12/31/2012,1,1,12,3,0,1,1,1,0.16,0.1818,0.59,0.1045,1
17359,17360,12/31/2012,1,1,12,4,0,1,1,1,0.14,0.1667,0.69,0.1045,3
17360,17361,12/31/2012,1,1,12,5,0,1,1,1,0.16,0.1515,0.64,0.1940,9
17361,17362,12/31/2012,1,1,12,6,0,1,1,1,0.16,0.1667,0.64,0.1642,40
17362,17363,12/31/2012,1,1,12,7,0,1,1,1,0.16,0.1818,0.64,0.1343,85
17363,17364,12/31/2012,1,1,12,8,0,1,1,1,0.14,0.1515,0.69,0.1343,196
17364,17365,12/31/2012,1,1,12,9,0,1,1,2,0.18,0.2121,0.64,0.1045,157
17365,17366,12/31/2012,1,1,12,10,0,1,1,2,0.20,0.2121,0.69,0.1343,120
17366,17367,12/31/2012,1,1,12,11,0,1,1,2,0.22,0.2273,0.60,0.1940,157
17367,17368,12/31/2012,1,1,12,12,0,1,1,2,0.24,0.2273,0.56,0.1940,224
17368,17369,12/31/2012,1,1,12,13,0,1,1,2,0.26,0.2576,0.44,0.1642,203
17369,17370,12/31/2012,1,1,12,14,0,1,1,2,0.28,0.2727,0.45,0.2239,247
17370,17371,12/31/2012,1,1,12,15,0,1,1,2,0.28,0.2879,0.45,0.1343,315
17371,17372,12/31/2012,1,1,12,16,0,1,1,2,0.26,0.2576,0.48,0.1940,214
17372,17373,12/31/2012,1,1,12,17,0,1,1,2,0.26,0.2879,0.48,0.0896,164
17373,17374,12/31/2012,1,1,12,18,0,1,1,2,0.26,0.2727,0.48,0.1343,122
17374,17375,12/31/2012,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,119
17375,17376,12/31/2012,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,89
17376,17377,12/31/2012,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,90
17377,17378,12/31/2012,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,61
17378,17379,12/31/2012,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,49

In [ ]:
df[(df['dteday'] == '1/1/2011') & (df['cnt'] > 15)]  # Filter rows where 'dteday' is '1/1/2011' and 'cnt' is greater than 15

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,1/1/2011,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,16
1,2,1/1/2011,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,40
2,3,1/1/2011,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,32
10,11,1/1/2011,1,0,1,10,0,6,0,1,0.38,0.3939,0.76,0.2537,36
11,12,1/1/2011,1,0,1,11,0,6,0,1,0.36,0.3333,0.81,0.2836,56
12,13,1/1/2011,1,0,1,12,0,6,0,1,0.42,0.4242,0.77,0.2836,84
13,14,1/1/2011,1,0,1,13,0,6,0,2,0.46,0.4545,0.72,0.2985,94
14,15,1/1/2011,1,0,1,14,0,6,0,2,0.46,0.4545,0.72,0.2836,106
15,16,1/1/2011,1,0,1,15,0,6,0,2,0.44,0.4394,0.77,0.2985,110
16,17,1/1/2011,1,0,1,16,0,6,0,2,0.42,0.4242,0.82,0.2985,93
17,18,1/1/2011,1,0,1,17,0,6,0,2,0.44,0.4394,0.82,0.2836,67
18,19,1/1/2011,1,0,1,18,0,6,0,3,0.42,0.4242,0.88,0.2537,35
19,20,1/1/2011,1,0,1,19,0,6,0,3,0.42,0.4242,0.88,0.2537,37
20,21,1/1/2011,1,0,1,20,0,6,0,2,0.40,0.4091,0.87,0.2537,36
21,22,1/1/2011,1,0,1,21,0,6,0,2,0.40,0.4091,0.87,0.1940,34
22,23,1/1/2011,1,0,1,22,0,6,0,2,0.40,0.4091,0.94,0.2239,28
23,24,1/1/2011,1,0,1,23,0,6,0,2,0.46,0.4545,0.88,0.2985,39

In [47]:
df[(df['dteday'] == '1/1/2011') | (df['dteday'] == '12/31/2012')]  # Filter rows where 'dteday' is either '1/1/2011' or '12/31/2012'

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,1/1/2011,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,16
1,2,1/1/2011,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,40
2,3,1/1/2011,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,32
3,4,1/1/2011,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,13
4,5,1/1/2011,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,1
5,6,1/1/2011,1,0,1,5,0,6,0,2,0.24,0.2576,0.75,0.0896,1
6,7,1/1/2011,1,0,1,6,0,6,0,1,0.22,0.2727,0.80,0.0000,2
7,8,1/1/2011,1,0,1,7,0,6,0,1,0.20,0.2576,0.86,0.0000,3
8,9,1/1/2011,1,0,1,8,0,6,0,1,0.24,0.2879,0.75,0.0000,8
9,10,1/1/2011,1,0,1,9,0,6,0,1,0.32,0.3485,0.76,0.0000,14
10,11,1/1/2011,1,0,1,10,0,6,0,1,0.38,0.3939,0.76,0.2537,36
11,12,1/1/2011,1,0,1,11,0,6,0,1,0.36,0.3333,0.81,0.2836,56
12,13,1/1/2011,1,0,1,12,0,6,0,1,0.42,0.4242,0.77,0.2836,84
13,14,1/1/2011,1,0,1,13,0,6,0,2,0.46,0.4545,0.72,0.2985,94
14,15,1/1/2011,1,0,1,14,0,6,0,2,0.46,0.4545,0.72,0.2836,106
15,16,1/1/2011,1,0,1,15,0,6,0,2,0.44,0.4394,0.77,0.2985,110
16,17,1/1/2011,1,0,1,16,0,6,0,2,0.42,0.4242,0.82,0.2985,93
17,18,1/1/2011,1,0,1,17,0,6,0,2,0.44,0.4394,0.82,0.2836,67
18,19,1/1/2011,1,0,1,18,0,6,0,3,0.42,0.4242,0.88,0.2537,35
19,20,1/1/2011,1,0,1,19,0,6,0,3,0.42,0.4242,0.88,0.2537,37
20,21,1/1/2011,1,0,1,20,0,6,0,2,0.40,0.4091,0.87,0.2537,36
21,22,1/1/2011,1,0,1,21,0,6,0,2,0.40,0.4091,0.87,0.1940,34
22,23,1/1/2011,1,0,1,22,0,6,0,2,0.40,0.4091,0.94,0.2239,28
23,24,1/1/2011,1,0,1,23,0,6,0,2,0.46,0.4545,0.88,0.2985,39
17355,17356,12/31/2012,1,1,12,0,0,1,1,1,0.18,0.1818,0.55,0.1940,34
17356,17357,12/31/2012,1,1,12,1,0,1,1,1,0.18,0.1818,0.55,0.1940,19
17357,17358,12/31/2012,1,1,12,2,0,1,1,1,0.16,0.1667,0.59,0.1642,11
17358,17359,12/31/2012,1,1,12,3,0,1,1,1,0.16,0.1818,0.59,0.1045,1
17359,17360,12/31/2012,1,1,12,4,0,1,1,1,0.14,0.1667,0.69,0.1045,3
17360,17361,12/31/2012,1,1,12,5,0,1,1,1,0.16,0.1515,0.64,0.1940,9
17361,17362,12/31/2012,1,1,12,6,0,1,1,1,0.16,0.1667,0.64,0.1642,40
17362,17363,12/31/2012,1,1,12,7,0,1,1,1,0.16,0.1818,0.64,0.1343,85
17363,17364,12/31/2012,1,1,12,8,0,1,1,1,0.14,0.1515,0.69,0.1343,196
17364,17365,12/31/2012,1,1,12,9,0,1,1,2,0.18,0.2121,0.64,0.1045,157
17365,17366,12/31/2012,1,1,12,10,0,1,1,2,0.20,0.2121,0.69,0.1343,120
17366,17367,12/31/2012,1,1,12,11,0,1,1,2,0.22,0.2273,0.60,0.1940,157
17367,17368,12/31/2012,1,1,12,12,0,1,1,2,0.24,0.2273,0.56,0.1940,224
17368,17369,12/31/2012,1,1,12,13,0,1,1,2,0.26,0.2576,0.44,0.1642,203
17369,17370,12/31/2012,1,1,12,14,0,1,1,2,0.28,0.2727,0.45,0.2239,247
17370,17371,12/31/2012,1,1,12,15,0,1,1,2,0.28,0.2879,0.45,0.1343,315
17371,17372,12/31/2012,1,1,12,16,0,1,1,2,0.26,0.2576,0.48,0.1940,214
17372,17373,12/31/2012,1,1,12,17,0,1,1,2,0.26,0.2879,0.48,0.0896,164
17373,17374,12/31/2012,1,1,12,18,0,1,1,2,0.26,0.2727,0.48,0.1343,122
17374,17375,12/31/2012,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,119
17375,17376,12/31/2012,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,89
17376,17377,12/31/2012,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,90
17377,17378,12/31/2012,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,61
17378,17379,12/31/2012,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,49

In [48]:
df['dteday'].isin(['1/1/2011', '12/31/2012'])  # Check if 'dteday' is in the specified list

0        True
1        True
2        True
3        True
4        True
         ...
17374    True
17375    True
17376    True
17377    True
17378    True
Name: dteday, Length: 17379, dtype: bool

In [49]:
df[df['dteday'].isin(['1/1/2011', '12/31/2012'])]  # Check if 'dteday' is in the specified list

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,1/1/2011,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,16
1,2,1/1/2011,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,40
2,3,1/1/2011,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,32
3,4,1/1/2011,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,13
4,5,1/1/2011,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,1
5,6,1/1/2011,1,0,1,5,0,6,0,2,0.24,0.2576,0.75,0.0896,1
6,7,1/1/2011,1,0,1,6,0,6,0,1,0.22,0.2727,0.80,0.0000,2
7,8,1/1/2011,1,0,1,7,0,6,0,1,0.20,0.2576,0.86,0.0000,3
8,9,1/1/2011,1,0,1,8,0,6,0,1,0.24,0.2879,0.75,0.0000,8
9,10,1/1/2011,1,0,1,9,0,6,0,1,0.32,0.3485,0.76,0.0000,14
10,11,1/1/2011,1,0,1,10,0,6,0,1,0.38,0.3939,0.76,0.2537,36
11,12,1/1/2011,1,0,1,11,0,6,0,1,0.36,0.3333,0.81,0.2836,56
12,13,1/1/2011,1,0,1,12,0,6,0,1,0.42,0.4242,0.77,0.2836,84
13,14,1/1/2011,1,0,1,13,0,6,0,2,0.46,0.4545,0.72,0.2985,94
14,15,1/1/2011,1,0,1,14,0,6,0,2,0.46,0.4545,0.72,0.2836,106
15,16,1/1/2011,1,0,1,15,0,6,0,2,0.44,0.4394,0.77,0.2985,110
16,17,1/1/2011,1,0,1,16,0,6,0,2,0.42,0.4242,0.82,0.2985,93
17,18,1/1/2011,1,0,1,17,0,6,0,2,0.44,0.4394,0.82,0.2836,67
18,19,1/1/2011,1,0,1,18,0,6,0,3,0.42,0.4242,0.88,0.2537,35
19,20,1/1/2011,1,0,1,19,0,6,0,3,0.42,0.4242,0.88,0.2537,37
20,21,1/1/2011,1,0,1,20,0,6,0,2,0.40,0.4091,0.87,0.2537,36
21,22,1/1/2011,1,0,1,21,0,6,0,2,0.40,0.4091,0.87,0.1940,34
22,23,1/1/2011,1,0,1,22,0,6,0,2,0.40,0.4091,0.94,0.2239,28
23,24,1/1/2011,1,0,1,23,0,6,0,2,0.46,0.4545,0.88,0.2985,39
17355,17356,12/31/2012,1,1,12,0,0,1,1,1,0.18,0.1818,0.55,0.1940,34
17356,17357,12/31/2012,1,1,12,1,0,1,1,1,0.18,0.1818,0.55,0.1940,19
17357,17358,12/31/2012,1,1,12,2,0,1,1,1,0.16,0.1667,0.59,0.1642,11
17358,17359,12/31/2012,1,1,12,3,0,1,1,1,0.16,0.1818,0.59,0.1045,1
17359,17360,12/31/2012,1,1,12,4,0,1,1,1,0.14,0.1667,0.69,0.1045,3
17360,17361,12/31/2012,1,1,12,5,0,1,1,1,0.16,0.1515,0.64,0.1940,9
17361,17362,12/31/2012,1,1,12,6,0,1,1,1,0.16,0.1667,0.64,0.1642,40
17362,17363,12/31/2012,1,1,12,7,0,1,1,1,0.16,0.1818,0.64,0.1343,85
17363,17364,12/31/2012,1,1,12,8,0,1,1,1,0.14,0.1515,0.69,0.1343,196
17364,17365,12/31/2012,1,1,12,9,0,1,1,2,0.18,0.2121,0.64,0.1045,157
17365,17366,12/31/2012,1,1,12,10,0,1,1,2,0.20,0.2121,0.69,0.1343,120
17366,17367,12/31/2012,1,1,12,11,0,1,1,2,0.22,0.2273,0.60,0.1940,157
17367,17368,12/31/2012,1,1,12,12,0,1,1,2,0.24,0.2273,0.56,0.1940,224
17368,17369,12/31/2012,1,1,12,13,0,1,1,2,0.26,0.2576,0.44,0.1642,203
17369,17370,12/31/2012,1,1,12,14,0,1,1,2,0.28,0.2727,0.45,0.2239,247
17370,17371,12/31/2012,1,1,12,15,0,1,1,2,0.28,0.2879,0.45,0.1343,315
17371,17372,12/31/2012,1,1,12,16,0,1,1,2,0.26,0.2576,0.48,0.1940,214
17372,17373,12/31/2012,1,1,12,17,0,1,1,2,0.26,0.2879,0.48,0.0896,164
17373,17374,12/31/2012,1,1,12,18,0,1,1,2,0.26,0.2727,0.48,0.1343,122
17374,17375,12/31/2012,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,119
17375,17376,12/31/2012,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,89
17376,17377,12/31/2012,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,90
17377,17378,12/31/2012,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,61
17378,17379,12/31/2012,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,49